:root {
  --base-font: 'Inter', Arial, Helvetica, sans-serif;
  --base-size: 16px;
  --base-pad: 30px;
  --nav-height: 2.5em;
  --page-back: #fff;
  --side-back: rgba(0, 0, 0, 0.015);
  --hero-back: #000;
  --hero-color: #fff;
  --hero-link: #fff;
  --head-color: #000;
  --link-color: #000;
  --text-color: #333;
  --line-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  font-family: var(--base-font);
  font-size: var(--base-size);
  height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar,
.content::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background-color: #000;
}

main {
  display: grid;
  grid-template-areas: 'a c c';
  grid-template-columns: 250px 1fr 20vw;
  height: 100vh;
  padding-top: var(--nav-height);
  width: 100%;
}

.has-toc {
  grid-template-areas: 'a c t';
}

h1,
h2,
h3 {
  font-weight: 900;
}

h1 {
  font-size: 2.6em;
  margin: 0;
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

blockquote {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
