.full-page {
  grid-template-areas: 'c c c';
}

.has-toc {
  grid-template-areas: 'a c t';
}

.home {
  display: flex;
  position: relative;
}

.hero {
  align-items: center;
  background: var(--hero-back) url(/back.svg) no-repeat center;
  bottom: 0;
  color: var(--hero-color);
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 0;
}

.hero::after {
  content: '';
  background: linear-gradient(to-bottom, #fff 0%, var(--hero-back) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.hero h1 {
  font-size: 5vw;
}

.hero a {
  color: var(--hero-link);
}

.header {
  align-items: center;
  background: var(--page-back);
  border-bottom: 1px solid var(--line-color);
  display: flex;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.brand {
  font-weight: 900;
  margin-left: 2em;
}

.brand::before {
  content: '';
  display: inline-block;
  background: url(/docs.svg) center no-repeat;
  width: 2em;
  position: absolute;

  top: 0;
  left: 1em;
  bottom: 0;
}

.navigation {
  margin-left: auto;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  padding: 0.5em;
}

.navigation button {
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  font-family: var(--base-font);
  font-weight: bold;
  margin-left: 0.5em;
  padding: 0.25em;
  text-transform: uppercase;
}

.aside {
  background-color: var(--side-back);
  border-right: 1px solid var(--line-color);
  grid-area: a;
  overflow-y: scroll;
  padding: var(--base-pad);
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.aside ul {
  list-style: none;
  padding: 0;
}

.aside h4,
.aside ul a {
  display: block;
  line-height: 1.6em;
  margin: 0.6em 0 0 0;
}

.aside ul ul a {
  border-radius: 0.3em;
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
  padding: 0.25em 0.5em;
}

.toc {
  border-left: 1px solid var(--line-color);
  grid-area: t;
  padding: var(--base-pad);
}

.toc h4 {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: normal;
  font-size: 0.9em;
  margin: 1em 0 0 0;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc a {
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1em;
  opacity: 0.8;
  margin-top: 0.5rem;
  display: block;
  transition: opacity 0.2s ease-in-out;
}

.toc a:hover {
  opacity: 1;
}

.toc .sub {
  margin-left: 0.5em;
  margin-top: 0.3rem;
  font-size: 0.9em;
  font-weight: normal;
}

.content {
  grid-area: c;
  overflow-y: scroll;
  padding: var(--base-pad);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.full-page .content {
  margin: 0 auto;
}

.content:hover {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.content p {
  max-width: 40em;
}

.prism-code {
  margin: 2em auto;
  padding: 2.5em 1em 0;
  position: relative;
  overflow-x: scroll;
}

.prism-code[data-language]::before {
  content: attr(data-language);
  font-family: var(--base-font);
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 1;
}

.code-title {
  background: var(--shadow-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #eee;
  font-family: var(--base-font);
  font-size: 14px;
  left: 0;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.footer {
  border-top: 1px solid var(--line-color);
  padding: 1em;
}

.footer .navigation {
  text-align: center;
}

.footer p {
  font-size: 0.8em;
  margin: 0.5em 0;
  text-align: center;
}
